<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yangyl.manage.mapper.CustomerInfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yangyl.manage.entity.CustomerInfo">
        <id column="id" property="id" />
        <result column="customer_code" property="customerCode" />
        <result column="company_name" property="companyName" />
        <result column="contact_person" property="contactPerson" />
        <result column="contact_phone" property="contactPhone" />
        <result column="sales_number" property="salesNumber" />
        <result column="create_by" property="createBy" />
        <result column="create_time" property="createTime" />
        <result column="remark" property="remark" />
    </resultMap>

    <select id="getByCustomerCode" parameterType="java.lang.String"  resultType="com.yangyl.manage.entity.CustomerInfo">
        SELECT * FROM customer_info where customer_code = #{customerCode}
    </select>

</mapper>
